<mat-toolbar color="primary">
    <button mat-icon-button>
      <mat-icon (click)="toggleSideNav()">aspect_ratio</mat-icon>
    </button>
    <img src="assets/images/logo.png" width="220px" height="40px">
    <div style="position:absolute; right:0">
      <div class="menu-spacer" color="primary">
        <button color="primary" style="border-radius: 10px;" [matMenuTriggerFor]="menu">
          <mat-icon mat-icon-button class="icon" color="warn">account_circle</mat-icon>
        </button>
        <mat-slide-toggle [checked]="isDarkTheme | async" (change)="toggleDarkTheme($event.checked)">Dark theme</mat-slide-toggle>
        <mat-menu #menu="matMenu" color="black">
          <i class="material-icons button__logout" (click)="auth.signOut()">
            power_settings_new
          </i>
        </mat-menu>
        <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
        <form action="">
          <input type="search">
          <i class="fa fa-search"></i>
        </form>
      </div> -->
      </div>
    </div>
  </mat-toolbar>